<!DOCTYPE html>

<html>
    <head>
        {% if page.title %}
        <title>{{ site.site_name | append: " - " | append: page.title }}</title>
        {% else %}
        <title>{{ site.site_name }}</title>
        {% endif %}
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport">

        {% if page.description %}
        <meta name="description" content="{{ page.description }}">
        {% else %}
        <meta name="description" content="{{ page.title }}">
        {% endif %}

        {% if page.keywords %}
        <meta name="keywords" content="{{ page.keywords | join: "," }}">
        {% else %}
        <meta name="keywords" content="{{ page.tag | join: ","}}">
        {% endif %}

        <link rel="stylesheet" href="{{ "/assets/style/main.css" | prepend: site.url }}">
        <link rel="stylesheet" href="{{ "/assets/style/tango.css" | prepend: site.url }}">
        {% include "katexcss" %}
        {% if site.valine and page.comment %}
        <script async src='//cdn.jsdelivr.net/npm/valine@1.4.18/dist/Valine.min.js'></script>
        {% endif %}
        {% if site.favicon %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.favicon | prepend: site.url }}/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.favicon | prepend: site.url }}/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.favicon | prepend: site.url }}/favicon-16x16.png">
        <link rel="manifest" href="{{ site.favicon | prepend: site.url }}/site.webmanifest">
        {% endif %}
    </head>
    <body>
        {% include "header" %}
        <main>
            {{ content }}
        </main>
        {% include "footer" %}
        <div id="fullscreen-img-container" class="hidden">
        </div>
        <div id="top-button" onclick="window.scrollTo(0,0)">↥</div>
	<script src="{{ "/assets/js/fullscreen-img.js" | prepend: site.url }}"></script>
    <script>
        function setCookie(cname,cvalue,exdays,path) {
            var d = new Date();
            d.setTime(d.getTime()+(exdays*24*60*60*1000));
            var expires = "expires="+d.toGMTString();
            document.cookie = cname+"="+cvalue+"; "+expires+"; "+"path="+path;
        }
        function getCookie(cname){
            var name = cname + "=";
                var ca = document.cookie.split(';');
                for(var i=0; i<ca.length; i++) {
                    var c = ca[i].trim();
                    if (c.indexOf(name)==0) { return c.substring(name.length,c.length); }
                }
            return "";
        }

        var theme_switch = document.getElementById("theme-switch");
        var doc = document.documentElement;
        const themeMedia = window.matchMedia("(prefers-color-scheme: light)");
        var theme = "light";
        if (themeMedia.matches) {
            theme = "light";
        } else {
            theme = "dark";
        }
        if (getCookie("theme") != "") {
            theme = getCookie("theme");
        }
        var update_theme = function(to_theme) {
            if (theme == "light") {
                doc.removeAttribute("class");
                setCookie("theme", "light", 30, "/");
            } else {
                doc.setAttribute("class", "dark-theme")
                setCookie("theme", "dark", 30, "/");
            }
        }
        update_theme(theme);
        theme_switch.onclick = function() {
            if (theme == "light") {
                theme = "dark";
                update_theme("dark");
            } else {
                theme = "light";
                update_theme("light");
            }
        };
        themeMedia.addListener(e => {
            if (e.matches) {
                theme = "light";
                update_theme("light");
            } else {
                theme = "dark";
                update_theme("dark");
            }
        });
    </script>
    {% if site.valine and page.comment %}
    <script>
        window.addEventListener('load', (event) => {
            new Valine({
                el: '#vcomments',
                appId: '{{ site.valine.appid }}',
                appKey: '{{ site.valine.appkey }}'
            });
        });
    </script>
    {% endif %}
    </body>
</html>
