<!DOCTYPE html>

<html>
    <head>
        {% if page.title %}
        <title>{{ site.site_name | append: " - " | append: page.title }}</title>
        {% else %}
        <title>{{ site.site_name }}</title>
        {% endif %}
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport">

        {% if page.description %}
        <meta name="description" content="{{ page.description }}">
        {% else %}
        <meta name="description" content="{{ page.title }}">
        {% endif %}

        {% if page.keywords %}
        <meta name="keywords" content="{{ page.keywords | join: "," }}">
        {% else %}
        <meta name="keywords" content="{{ page.tag | join: ","}}">
        {% endif %}

        <link rel="stylesheet" href="{{ "/assets/style/main.css" | prepend: site.url }}">
        <link rel="stylesheet" href="{{ "/assets/style/tango.css" | prepend: site.url }}">
        {% include "katexcss" %}
        {% if site.valine and page.comment %}
        <script async src='//cdn.jsdelivr.net/npm/valine@1.4.18/dist/Valine.min.js'></script>
        {% endif %}
        {% if site.favicon %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.favicon | prepend: site.url }}/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.favicon | prepend: site.url }}/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.favicon | prepend: site.url }}/favicon-16x16.png">
        <link rel="manifest" href="{{ site.favicon | prepend: site.url }}/site.webmanifest">
        {% endif %}
    </head>
    <body>
        {% include "header" %}
        <main>
            {{ content }}
        </main>
        {% include "footer" %}
        <div id="fullscreen-img-container" class="hidden">
        </div>
        <div id="top-button" onclick="window.scrollTo(0,0)">△</div>
	<script src="{{ "/assets/js/fullscreen-img.js" | prepend: site.url }}"></script>
    <script src="{{ "/assets/js/switch-theme.js" | prepend: site.url }}"></script>
    {% if site.valine and page.comment %}
        {% include "valine-comment" %}
    {% endif %}
    </body>
</html>
