<header>

<div class="header-logo">
    <img class="nth233logo" src="{{ "/assets/img/404.png" | prepend: site.url }}"></img>
    <a href="{{ "/" | prepend: site.url }}">{{ site.site_name }}</a>
</div>

<div class="header-menu">
    <a href="{{ "/notes/" | prepend: site.url }}">Notes</a>
    <a href="{{ "/about/" | prepend: site.url }}">About</a>
    <a href="{{ "/feed.xml" | prepend: site.url }}">RSS</a>
    <!--<a href="{{ "/friends.html" | prepend: site.url }}">Friends</a>-->
    <div id="theme-switch" title="å¤œå¹•é™ä¸´">ðŸŒ’</button>
</div>

</header>
